.card-1 {
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-1-bg.png');
  background-size: cover;
}

.card-2 {
  display: flex;
  justify-content: flex-end;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-2-bg.png');
  background-size: cover;
}

.card-3 {
  display: flex;
  justify-content: center;
  text-align: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-3-bg.png');
  background-size: cover;
}

/* Write your code here. */
.heading {
  font-family: 'Roboto';
  font-size: 37px;
  color: #326a9d;
  font-weight: bold;
}

.description {
  font-family: 'Roboto';
  font-size: 20px;
  color: #64748b;
  margin-top: 25px;
  margin-bottom: 34px;
}

.show-more-btn {
  font-family: 'Roboto';
  font-size: 15px;
  color: #326a9d;
  font-weight: bold;
  border: 3px solid #326a9d;
  border-radius: 7px;
  padding: 10px;
}

.banner-card-item {
  list-style-type: none;
  max-width: 1200px;
  padding: 33px;
  width: 100%;
  border: 1px solid #cbced2;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
